/**app.wxss**/
$baseUrl:  'https://oss.longyuyin.com/img/talking_ai/imgs';
$baseUrl2:  'https://oss.longyuyin.com/img';
// $baseUrl:  'http://172.20.100.25:1234/imgs';
$version: '?20231011';


// @font-face {
//   font-family: 'ArialFont';
//   src: url($baseUrl + '/font/arial.ttf');
// }

page{
  height: 100%;
  
font-family: 'ArialFont';
}

view {
  box-sizing: border-box;
}


@mixin bgImg($url) {
  background: rgba(0, 0, 0, 0) url($baseUrl + "/#{$url}");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@mixin bgImg2($url) {
  background: rgba(0, 0, 0, 0) url($baseUrl2 + "/#{$url}");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
