/**app.wxss**/
$baseUrl:  'https://pic.youzu.com/hd/xcx/talking_ai';
// $baseUrl:  'http://172.20.100.25:1234';
$version: '?20231011';


// @font-face {
//   font-family: 'ArialFont';
//   src: url($baseUrl + '/font/arial.ttf');
// }

page{
  height: 100%;
  
font-family: 'ArialFont';
}

view {
  box-sizing: border-box;
}


@mixin bgImg($url) {
  background: rgba(0, 0, 0, 0) url($baseUrl + "/imgs/#{$url}");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
