@import '../../app';

.dialogue-box {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #0E80FE;
    z-index: 10;
    &.scene {
        padding-top: 176rpx;
        .dialogue-head {
            height: 0;
        }
        .dialogue-main{
            .main-hd{
                height: 0;
                overflow: hidden;
            }
        }
    }
    .dialogue-head {
        position: relative;
        width: 100%;
        height: 222rpx;
        flex-shrink: 0;
        .role {
            position: absolute;
            top: 100rpx;
            left: 50%;
            transform: translateX(-50%);
            width: 178rpx *.8;
            height: 204rpx *.8;
        }
    }
    .dialogue-main {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background: #fff;
        overflow: hidden;
        .main-hd {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
            padding: 0 32rpx;
            width: 100%;
            height: 96rpx;
            background: #2A2A2A;
            box-shadow: 0rpx 8rpx 8rpx 0rpx rgba(0,0,0,0.18);
            .hd-left {
                display: flex;
                align-items: center;
                color: #C9C9C9;
                font-size: 36rpx;
                .hd-role-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 55rpx;
                    height: 55rpx;
                    padding: 5rpx;
                    margin-right: 20rpx;
                    border: 2rpx solid #3AFF5D;
                    border-radius: 50%;
                    overflow: hidden;
                    .hd-role-box-img {
                        width: 100%;
                    }
                }
            }
            .hd-right {
                width: 156rpx;
                height: 44rpx;
                @include bgImg('icon_change_topic.png');
            }
        }

        .main-detail {
            display: flex;
            flex-grow: 1;
            padding: 36rpx 32rpx;
            overflow: scroll;
            box-sizing: border-box;
            padding-bottom: 250rpx;
            .dialogueBox-wrap {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                height: 100%;
                overflow: scroll;
                .dialogBox-item {
                    width: 100%;
                    display: flex;
                }
            }
            .teach {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 12rpx;
                font-weight: 500;
                color: #FFFFFF;
                width: 180rpx;
                height: 52rpx;
                background: #333333;
                border-radius: 0rpx 27rpx 27rpx 0rpx;
                .icon-teach {
                    width: 36rpx;
                    height: 36rpx;
                    @include bgImg("icon_hint.png")
                }
            }
        }
    }
    .translate-fake {
        width:100%;
        height:1px
      }
 .unLoadEnd {
    filter: opacity(.7);
 }     
}