@import '../../app';

.mask-box {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: .7);
        z-index: 1;
    }
    .mask-slot {
        z-index: 2;
    }
}