/**app.wxss**/
page {
  height: 100%;
  font-family: "ArialFont";
}

view {
  box-sizing: border-box;
}

.dialogBox-box {
  position: relative;
  width: 608rpx;
  height: auto;
  margin-bottom: 36rpx;
  transition: all 1s ease;
  overflow: hidden;
}
.dialogBox-box .original {
  padding: 22rpx 20rpx;
}
.dialogBox-box.ai {
  background: #E7F4FF;
  border-radius: 0rpx 28rpx 28rpx 28rpx;
  box-shadow: 0rpx 6rpx 0rpx 0rpx #C2D3E9;
}
.dialogBox-box.user {
  background: #38659C;
  border-radius: 28rpx 0rpx 28rpx 28rpx;
  box-shadow: 0rpx 6rpx 0rpx 0rpx #294B75;
  overflow: hidden;
}
.dialogBox-box .functionalZone {
  display: flex;
  justify-content: space-between;
  height: 60rpx;
  margin-bottom: 16rpx;
}
.dialogBox-box .functionalZone .voice-box {
  display: flex;
}
.dialogBox-box .functionalZone .voice {
  display: flex;
  align-items: center;
  width: 328rpx;
  height: 60rpx;
  padding: 0 26rpx;
  background: #D7E6FD;
  border-radius: 30rpx;
}
.dialogBox-box .functionalZone .voice.original {
  width: 208rpx;
  margin-right: 20rpx;
}
.dialogBox-box .functionalZone .voice .icon-voice {
  display: flex;
  align-items: center;
  width: 40rpx;
  margin-right: 14rpx;
}
.dialogBox-box .functionalZone .voice .icon-voice .icon-voice-1 {
  width: 8rpx;
  height: 8rpx;
  background: rgba(0, 0, 0, 0) url("http://172.20.100.25:1234/imgs/black_play_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dialogBox-box .functionalZone .voice .icon-voice .icon-voice-2 {
  width: 10rpx;
  height: 20rpx;
  background: rgba(0, 0, 0, 0) url("http://172.20.100.25:1234/imgs/black_play_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dialogBox-box .functionalZone .voice .icon-voice .icon-voice-3 {
  width: 12rpx;
  height: 28rpx;
  background: rgba(0, 0, 0, 0) url("http://172.20.100.25:1234/imgs/black_play_3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dialogBox-box .functionalZone .voice.user {
  background: rgba(255, 255, 255, 0.22);
  color: #fff;
}
.dialogBox-box .functionalZone .voice.user .icon-voice .icon-voice-1 {
  background: rgba(0, 0, 0, 0) url("http://172.20.100.25:1234/imgs/white_play_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dialogBox-box .functionalZone .voice.user .icon-voice .icon-voice-2 {
  background: rgba(0, 0, 0, 0) url("http://172.20.100.25:1234/imgs/white_play_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dialogBox-box .functionalZone .voice.user .icon-voice .icon-voice-3 {
  background: rgba(0, 0, 0, 0) url("http://172.20.100.25:1234/imgs/white_play_3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dialogBox-box .functionalZone .voice_old {
  display: flex;
  align-items: center;
  width: 120rpx;
  height: 60rpx;
  padding: 0 20rpx;
  border-radius: 30rpx;
  background: rgba(255, 255, 255, 0.22);
  color: #fff;
}
.dialogBox-box .functionalZone .voice_old .icon-voice {
  display: flex;
  align-items: center;
  width: 40rpx;
  margin-right: 14rpx;
}
.dialogBox-box .functionalZone .voice_old .icon-voice .icon-voice-1 {
  width: 8rpx;
  height: 8rpx;
  background: rgba(0, 0, 0, 0) url("http://172.20.100.25:1234/imgs/white_play_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dialogBox-box .functionalZone .voice_old .icon-voice .icon-voice-2 {
  width: 10rpx;
  height: 20rpx;
  background: rgba(0, 0, 0, 0) url("http://172.20.100.25:1234/imgs/white_play_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dialogBox-box .functionalZone .voice_old .icon-voice .icon-voice-3 {
  width: 12rpx;
  height: 28rpx;
  background: rgba(0, 0, 0, 0) url("http://172.20.100.25:1234/imgs/white_play_3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dialogBox-box .functionalZone .ai-translate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60rpx;
  height: 60rpx;
  background: #333333;
  border-radius: 50% 50%;
}
.dialogBox-box .functionalZone .ai-translate .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}
.dialogBox-box .functionalZone .icon-translate {
  width: 36rpx;
  height: 36rpx;
  background: rgba(0, 0, 0, 0) url("http://172.20.100.25:1234/imgs/icon_translate.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dialogBox-box .functionalZone .icon-check {
  width: 36rpx;
  height: 36rpx;
  background: rgba(0, 0, 0, 0) url("http://172.20.100.25:1234/imgs/icon_check.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dialogBox-box .functionalZone .user-fn {
  display: flex;
}
.dialogBox-box .functionalZone .user-fn .user-check {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68rpx;
  height: 60rpx;
  margin-right: 5rpx;
  background: #333333;
  border-radius: 30rpx 0rpx 0rpx 30rpx;
}
.dialogBox-box .functionalZone .user-fn .user-translate {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68rpx;
  height: 60rpx;
  background: #333333;
  border-radius: 0rpx 30rpx 30rpx 0rpx;
  filter: grayscale(0.1);
}
.dialogBox-box .functionalZone .user-fn .user-check, .dialogBox-box .functionalZone .user-fn .user-translate {
  overflow: hidden;
}
.dialogBox-box .functionalZone .user-fn .user-check .mask, .dialogBox-box .functionalZone .user-fn .user-translate .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}
.dialogBox-box .text-area {
  display: flex;
  flex-direction: column;
  font-size: 28rpx;
  color: #333333;
  line-height: 42rpx;
}
.dialogBox-box .text-area .translateText {
  margin-top: 32rpx;
}
.dialogBox-box.user .text-area {
  color: #fff;
}
.dialogBox-box .check-box {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: #325A8B;
  padding: 24rpx 26rpx 64rpx;
  border-radius: 0rpx 0rpx 28rpx 28rpx;
  box-shadow: 0rpx 6rpx 0rpx 0rpx #294B75;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 42rpx;
  font-size: 28rpx;
}
.dialogBox-box .check-box .line {
  position: absolute;
  top: 0rpx;
  left: 26rpx;
  right: 26rpx;
  height: 1rpx;
  background: #FFFFFF;
  opacity: 0.39;
}
.dialogBox-box .check-box .rich-text {
  margin-top: 24rpx;
  color: #FFFFFF;
  line-height: 42rpx;
  font-size: 28rpx;
}
.dialogBox-box .check-box .upward {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15rpx;
  width: 58rpx;
  height: 18rpx;
  background: rgba(0, 0, 0, 0) url("http://172.20.100.25:1234/imgs/icon_upward.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.loading-zone {
  display: flex;
  align-items: flex-end;
  width: 200rpx;
  height: 60rpx;
  padding: 0rpx 0rpx 10rpx 20rpx;
  margin-bottom: 36rpx;
  transition: all 1s ease;
  overflow: hidden;
}
.loading-zone.check-loading {
  background: none;
  margin-bottom: 0;
}
.loading-zone.check-loading.loading-user .dot {
  background: #fff;
}
.loading-zone.ai {
  background: #E7F4FF;
  border-radius: 0rpx 28rpx 28rpx 28rpx;
  box-shadow: 0rpx 6rpx 0rpx 0rpx #C2D3E9;
}
.loading-zone.user {
  background: #38659C;
  border-radius: 28rpx 0rpx 28rpx 28rpx;
  box-shadow: 0rpx 6rpx 0rpx 0rpx #294B75;
  overflow: hidden;
}
.loading-zone.user .dot {
  background: #fff;
}
.loading-zone .dot-box {
  display: flex;
  align-items: flex-end;
  padding-bottom: 15rpx;
  margin-left: 10rpx;
}
.loading-zone .dot {
  width: 10rpx;
  height: 10rpx;
  background: black;
  margin-right: 5rpx;
  border-radius: 50%;
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}
.loading-zone .dot1 {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
.loading-zone .dot2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading-zone .dot1 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10rpx);
  }
  100% {
    transform: translateY(0rpx);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10rpx);
  }
  100% {
    transform: translateY(0rpx);
  }
}/*# sourceMappingURL=dialogBox.css.map */